@{
    ViewBag.Title = "Home";
}

<div class="row module_btn">
    <div class="col-md-4">
        <ul>
            <li id="mm_module_btn">
                @Html.ActionLink("Material Management", "Index", "MM")
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li id="mm_module_btn">
                @Html.ActionLink("Human Resource", "Index", "HR")
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li id="mm_module_btn">
                @Html.ActionLink("CRM", "Index", "CRM")
            </li>
        </ul>
    </div>
</div>